  .flex-container {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .flex-container > tr {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }


table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px; 
    border-collapse: 
    collapse; border-spacing: 0; 
}

td, th { border: 1px solid #CCC; height: 30px; } 

th {  
    background: #F3F3F3; 
    font-weight: bold; 
}

td {  
    background: #FAFAFA;
    text-align: center; 
}

tr:nth-child(even) td { background: #F1F1F1; }   

tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; }  

h2{ color: #236B8E }